<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Impuesto</th>
          <th>Precio Sin Impuesto</th>
          <th>Fecha de Actualización</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let combustible of preciosPlantel">
          <td>{{ combustible.nomprod }}</td>
          <td>{{ combustible.preciototal }}</td>
          <td>{{ combustible.impuesto }}</td>
          <td>{{ combustible.precsinimp }}</td>
          <td>{{ combustible.fechaupd }}</td>
        </tr>
      </tbody>
    </table>
  </div>
